@charset "UTF-8";
#boxscreen {
	display: none;
}
#pagina1 {
	height: 172mm;
	width: 100%;
}
#pagina2, #pagina3, #pagina4, #pagina5, #pagina6, #pagina7, #pagina8, #pagina9, #pagina10, #pagina11, #pagina12, #pagina13, #pagina14, #pagina15, #pagina16, #pagina17, #pagina18, #pagina19, #pagina20, #pagina21, #pagina22, #pagina23, #pagina24, #pagina25, #pagina26, #pagina27, #pagina28, #pagina29, #pagina30, #pagina31, #pagina32, #pagin33, #pagina34, #pagina35, #pagina36, #pagina37, #pagina38, #pagina39, #pagina40, #pagina41, #pagina42, #pagina43, #pagina44, #pagina45, #pagina46, #pagina47, #pagina48, #pagina49, #pagina50, #pagina51, #pagina52, #pagina53, #pagina54, #pagina55, #pagina56, #pagina57, #pagina58, #pagina59, #pagina60, #pagina61, #pagina62, #pagina63, #pagina64, #pagina65, #pagina66, #pagina67, #pagina68, #pagina69, #pagina70, #pagina71, #pagina72, #pagina73, #pagina74, #pagina75, #pagina76, #pagina77, #pagina78, #pagina79 {
	page-break-before: always;
	height: 172mm;
	width: 100%;
}
#pagina2tekst {
	height: 172mm;
	width: 49%;
	float: left;
	margin-left: 50%;
	margin-right: 1%;
}
#pagina3tekst, #pagina4tekst, #pagina5tekst, #pagina6tekst, #pagina7tekst, #pagina8tekst, #pagina9tekst, #pagina10tekst, #pagina11tekst, #pagina12tekst, #pagina13tekst, #pagina14tekst, #pagina15tekst, #pagina16tekst, #pagina17tekst, #pagina18tekst, #pagina19tekst, #pagina20tekst, #pagina21tekst, #pagina22tekst, #pagina23tekst, #pagina24tekst, #pagina25tekst, #pagina26tekst, #pagina27tekst, #pagina28tekst, #pagina29tekst, #pagina30tekst, #pagina31tekst, #pagina32tekst, #pagina33tekst, #pagina34tekst, #pagina35tekst, #pagina36tekst, #pagina37tekst, #pagina38tekst, #pagina39tekst, #pagina40tekst, #pagina41tekst, #pagina42tekst, #pagina43tekst, #pagina44tekst, #pagina45tekst, #pagina46tekst, #pagina47tekst, #pagina48tekst, #pagina49tekst, #pagina50tekst, #pagina51tekst, #pagina52tekst, #pagina53tekst, #pagina54tekst, #pagina55tekst, #pagina56tekst, #pagina57tekst, #pagina58tekst, #pagina59tekst, #pagina60tekst, #pagina61tekst, #pagina62tekst, #pagina63tekst, #pagina64tekst, #pagina65tekst, #pagina66tekst, #pagina67tekst, #pagina68tekst, #pagina69tekst, #pagina70tekst, #pagina71tekst, #pagina72tekst, #pagina73tekst, #pagina74tekst, #pagina75tekst, #pagina76tekst, #pagina77tekst, #pagina78tekst {
	height: 172mm;
	width: 49%;
	float: left;
	margin-right: 1%;
}
#pagina79Atekst, #pagina79Btekst {
	height: 172mm;
	float: left;
	margin-right: 1%;
}

#pagina3beeld, #pagina4beeld, #pagina5beeld, #pagina6beeld, #pagina7beeld, #pagina8beeld, #pagina9beeld, #pagina10beeld, #pagina11beeld, #pagina12beeld, #pagina13beeld, #pagina14beeld, #pagina15beeld, #pagina16beeld, #pagina17beeld, #pagina18beeld, #pagina19beeld, #pagina20beeld, #pagina21beeld, #pagina22beeld, #pagina23beeld, #pagina24beeld, #pagina25beeld, #pagina26beeld, #pagina27beeld, #pagina28beeld, #pagina29beeld, #pagina30beeld, #pagina31beeld, #pagina32beeld, #pagina33beeld, #pagina34beeld,  #pagina35beeld, #pagina36beeld, #pagina37beeld, #pagina38beeld, #pagina39beeld, #pagina40beeld, #pagina41beeld, #pagina42beeld, #pagina43beeld, #pagina44beeld, #pagina45beeld, #pagina46beeld, #pagina47beeld, #pagina48beeld, #pagina49beeld, #pagina50beeld, #pagina51beeld, #pagina52beeld, #pagina53beeld, #pagina54beeld, #pagina55beeld, #pagina56beeld, #pagina57beeld, #pagina58beeld, #pagina59beeld, #pagina60beeld, #pagina61beeld, #pagina62beeld, #pagina63beeld, #pagina64beeld, #pagina65beeld, #pagina66beeld, #pagina67beeld, #pagina68beeld, #pagina69beeld, #pagina70beeld, #pagina71beeld, #pagina72beeld, #pagina73beeld, #pagina74beeld, #pagina75beeld, #pagina76beeld, #pagina77beeld, #pagina78beeld, #pagina79beeld  {
	height: 172mm;
	width: 42%;
	float: left;
	margin-right: 3%;
	margin-left: 5%;
}
h1 {
	font-family: 'Fjalla One', sans-serif;
	font-size: 11pt;
	color: rgb(0,0,0);
	font-weight: normal;
	margin-bottom: -10px;
}
h2 {
	font-family: 'Fjalla One', sans-serif;
	font-size: 15pt;
	color: rgb(0,0,0);
	font-weight: normal;
	text-decoration: none;
	margin-bottom: -5pt;
	margin-top: -3px;
}
h3 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 5pt;
	color: rgb(0,0,0);
	font-weight: lighter;
	line-height: 6pt;
}
p {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 8pt;
	color: rgb(0,0,0);
}
.voetnoot {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 5pt;
	float: left;
	margin-right: 3%;
}
