@charset "UTF-8";
/* CSS Document */
* {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}
body {
	}
#Box {
	visibility: hidden;	
}
#Opening {
	float: left;
	width: 100%;
	page-break-after: always;
}
.hrl {
	width: 55%;
	height: 1px;
	color: #000000;
	background-color: #000000;
	margin-bottom: 2%;
	margin-top: 2%;
	float: left;
	margin-right: 10%;
	margin-left: 35%;
	page-break-after: always;
}
.hrr {
	width: 75%;
	height: 0.1vw;
	color: #000000;
	background-color: #000000;
	margin-bottom: 1vw;
	margin-top: 1vw;
	float: right;
	
}
#Containermenu {
	width: 15%;
	margin-left: 2%;
	float: left;
	margin-top: 1%;
	position: fixed;
}
#Logo {
	float: right;
	width: 100%;
}
#Containercontent {
	width: 80%;
	margin-top: 1%;
	height: 100px;
	float: left;
	margin-left: 20%;
	margin-right: 2%;
}
#Speciaaltitel {
	margin-top: 1%;
	margin-bottom: 2%;
}

#Speciaalcontainer, #Voorwoordcontainer, #Inleidingcontainer, #Traumacontainer, #Psychecontainer, #Kunstcontainer, #Mogelijkhedencontainer, #Bewustwordingcontainer, #Provocatiecontainer, #Confrontatiecontainer, #Lijdencontainer, #Rouwencontainer, #Collectiefverwerkencontainer, #Individueelverwerkencontainer, #Herkenningcontainer, #Hoopcontainer, #Rehabilitatiecontainer, #Herdenkencontainer, #Visualiserencontainer, #Rechtvaardigingcontainer, #Moedcontainer, #Erkenningcontainer, #Verbindencontainer, #Conclusiecontainer, #Bronnencontainer, #Beeldverwijzingcontainer, #Verantwoordingcontainer, #Colofoncontainer {
	width: 100%;
}
#Speciaaltitel, #Voorwoordtitel, #Inleidingtitel, #Traumatitel, #Psychetitel, #Kunsttitel, #Mogelijkhedentitel, #Bewustwordingtitel, #Provocatietitel, #Confrontatietitel, #Lijdentitel, #Rouwentitel, #Collectiefverwerkentitel, #Individueelverwerkentitel, #Herkenningtitel, #Rehabilitatietitel, #Herdenkentitel, #Visualiserentitel, #Rechtvaardigingtitel, #Moedtitel, #Erkenningtitel, #Verbindentitel, #Conclusietitel, #Bronnentitel, #Beeldverwijzingtitel, #Verantwoordingtitel, #Colofontitel {
	width: 65%;
	float: left;
	margin-bottom: 0.1vw;
	padding-left: 35%;
}

#Voorwoordbeeld, #Inleidingbeeld, #Traumabeeld, #Psychebeeld, #Kunstbeeld, #Mogelijkhedenbeeld, #Bewustwordingbeeld, #Provocatiebeeld, #Confrontatiebeeld, #Lijdenbeeld, #Rouwenbeeld, #Collectiefverwerkenbeeld,  #Individueelverwerkenbeeld, #Herkenningbeeld, #Hoopbeeld, #Rehabilitatiebeeld, #Herdenkenbeeld, #Visualiserenbeeld, #Rechtvaardigingbeeld, #Moedbeeld, #Erkenningbeeld, #Verbindenbeeld, #Conclusiebeeld, #Bronnenbeeld, #Beeldverwijzingbeeld, #Verantwoordingbeeld, #Colofonbeeld {
	float:left;
	width: 32%;
	margin-top: -2%;
}
	
#Voorwoordtekst1, #Inleidingtekst1, #Traumatekst1, #Psychetekst1, #Kunsttekst1, #Mogelijkhedentekst1, #Bewustwordingtekst1, #Provocatietekst1, #Confrontatietekst1, #Lijdentekst1, #Rouwentekst1, #Collectiefverwerkentekst1, #Individueelverwerkentekst1, #Herkenningtekst1,  #Hooptekst1, #Rehabilitatietekst1, #Herdenkentekst1, #Visualiserentekst1, #Rechtvaardigingtekst1, #Moedtekst1, #Erkenningtekst1, #Verbindentekst1, #Conclusietekst1, #Bronnentekst1, #Beeldverwijzingtekst1, #Verantwoordingtekst1, #Colofontekst1 {
	margin-left:3%;
	float:left;
	width: 55%;
	padding-right: 10%;
}
/*Opvulling lege div*/
#Mogelijkhedenbeeld {
	margin-bottom: 5%;
}
h1 {
	font-family: 'Fjalla One', sans-serif;
	font-size: 1.4vw;
	color: rgb(213,93,45);
	letter-spacing: 0.1em;
}
h2 {
	font-family: 'Fjalla One', sans-serif;
	font-size: 1.2vw;
	color: rgb(0,0,0);
	letter-spacing: 0.1em;
}
h3 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 0.9vw;
	color: rgb(0,0,0);
	font-weight: normal;
}
h4 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 0.6vw;
	text-align: left;
	float: left;
}
h5 {
	font-family: 'Fjalla One', sans-serif;
	font-size: 0.9vw;
	color: rgb(0,0,0);
	text-align: right;
	line-height: 2vw;
	letter-spacing: 0.1em;
	float: right;
}
h6 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 0.6vw;
	text-align: left;
	float: left;
	margin-top: 1%;
}
h7 {
	font-family: 'Fjalla One', sans-serif;
	font-size: 1.2vw;
	color: rgb(213,93,45);
	letter-spacing: 0.1em;
}
a {
	text-decoration: none;
	cursor: pointer;
	color: rgb(0,0,0);
}
.voetnoot {
	float: left;
	width: 50%;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 0.6vw;
	text-align: left;
	float: left;
	margin-top: 4%;
}
sup {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 0.6vw;
	font-weight: normal;
}
#ColofonA {
	float: left;
	width: 20%;
}
#ColofonB {
	float: left;
	width: 50%;
}
